/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/* margin: 0;
	padding: 0;
	border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: rgb(156, 187, 230);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom elements */
#histogram {
	min-width: 690px;
	height: auto;
	margin: 10px;
	background-color: white;
	border-radius: 10px;
	padding: 40px;
	padding-bottom: 60px;
}

h1 {
	font-size: x-large;
	border-bottom: 1px solid black;
  margin: auto;
}

input {
	width: 400px;
	min-width: 300px;
	max-width: 100%;
	height: auto;
	min-height: 20px;
	word-wrap: normal;
	margin: 10px;
}

button {
	width: 70px;
	padding: 10px;
	margin: 1em;
	text-align: center;
	background: radial-gradient(#b5ffc5, #00c92b);

	border-radius: 10px;
	box-shadow: 5px 5px 4px #959595;
}

.reset {
	background: radial-gradient(#ffba9d, #ff4d00);
}

#graph {
	width: 100%;
	height: 120%;
	height: auto;

	max-width: 100%;
	display:flex;
	flex-direction: row;
	position: relative;
  cursor: pointer;
}

#y-axis {
	display: flex;
  height:auto;
	text-align: center;
	justify-content:space-between;
  margin: 5px;
	bottom: 0;
	position: relative;
}

#frequencyAlignment {
	width: 40px;
	display: flex;
  justify-content: space-around;
  align-content: space-around;
	flex-wrap: wrap;
}

#frequency {
	transform: rotate(270deg);
	justify-content: space-around;
	float:inline-start;
	display:flex;

}

.x-axis {
	display:table-row;
}

#taketwo {
	width: 100%;
	max-width: 100%;
	height: 500px;
	border: 2px solid black;
	border-top: 0;
	border-right: 0;
	display: inline-flex;
	align-items: flex-end;
	position: relative;
	display: flex;
}

div.block {
	background: linear-gradient(#003ca4, #9198e5);
	display: inline-flex;
	flex-wrap: wrap;
	position: relative;
	border: 1px solid white;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;

}
.divtext {
	visibility: hidden;
	width:auto;
	min-width: max-content;

	height:40px;
	background-color: rgb(218, 218, 218);
	color:black;
	text-align: center;
	border-radius: 10px;
	padding:5px;
  transform: translateY(-55px);

	position: absolute;
	z-index:1;

}

.block:hover .divtext {
	visibility:visible;
}

.block:hover {
	background: linear-gradient(#ff0008, #e59191);
}

#frequencyValues {
	position: relative;
	align-items: center;
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
	flex-wrap: wrap;
	flex-direction: row;
}

.y-values {
	display: inline-flex;
	flex-wrap: wrap;
	position: relative;
}

#x-axis {
	display: flex;
	justify-content: space-around;
}

#values {
	display: flex;
	transform: translateY(30px);
}

.valueLabel {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-content: space-between;
	transform: translateY(30px);
	align-items: flex-end;
	float: inline-end;
	color:#a6a6a6;

}

.valueLabel:hover {
	color: black;
	font-weight: 800;
	font-size: larger;
  z-index: 1;
	transform: translateY(35px);
}

#valueAlignment {
	width: 100%;
	max-width: 100%;
	position: relative;
	display: inline-block;
  justify-content: space-around;
  align-content: space-around;
	flex-wrap: wrap;
}

.grey {
	transform: translateY(40px);
	color: #a6a6a6;

}
