/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/* margin: 0;
	padding: 0;
	border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: rgb(156, 187, 230);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom elements */
#histogram {
	margin: 10px;
  justify-content: space-around;
	align-content: center;
	background-color: white;
	border-radius: 10px;
	padding: 40px;

}

h1 {
	font-size: x-large;
	border-bottom: 1px solid black;
  margin: auto;
}

canvas {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width:max-content;
	/* overflow-x: auto; */
	height: 100%;
	/* overflow-x: scroll; */

}

input {
	width: 400px;
	min-width: 300px;
	max-width: 100%;
	height: auto;
	min-height: 20px;
	word-wrap: normal;
}

button {
	width: 70px;
	padding: 10px;
	margin: 1em;
	text-align: center;
	background: #8cffa5;
	border-radius: 10px;
	box-shadow: 5px 5px 4px #959595;
}

.reset {
	background: rgb(255, 197, 150);

}

#graph {
	display:flex;
	flex-direction: row;
	position: relative;
	/* overflow-x: scroll; */
}


.y-axis {
	height: 100%;
	display: flex;
	flex-direction: column;
  height:auto;
	text-align: right;
	justify-content:space-between;
  margin: 5px;
	bottom: 0;
	position: relative;
}

.zero {
	position: 300;
	bottom: 0;
}

g {
	position:bottom;
	float: bottom;
	font-size: small;
}

#frequency {
	transform: rotate(270deg);
	justify-content: space-around;
	float:inline-start;
}

.x-axis {
	display:table-row;
}

#taketwo {
  width: 300px;
	height: 200px;
	border: 3px solid blue;
	display: inline-flex;
	align-items: flex-end;

}

div.block {
	background-color: blue;
	background: linear-gradient(#e66465, #9198e5);
	display: inline-flex;
	flex-wrap: wrap;
	position: relative;

}
.divtext {
	visibility: hidden;
	width:auto;
	height:fit-content;
	background-color: grey;
	color:black;
	text-align: center;
	border-radius: 10px;
	padding:5px 0;

	position: absolute;
	z-index:1;
}

.block:hover .divtext {
	visibility:visible;
}